@mixin ribbon() {
    position: absolute;
    max-width: 100%;
    display: block;
}

.about {
    background-image: url('../../dist/img/about/about-bg.png');
    height: 100vh;
    min-width: 1024px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__container {

        &__star {

            .star {
                margin: 30px;
                height: 60px;
                width: 60px;
            }
        }

        &__ribbons {

            &__item {
                position: relative;

                .ribbon-1 {
                    @include ribbon();
                    top: -50px;
                }

                .ribbon-2 {
                    @include ribbon();
                    top: 100px
                }

                .ribbon-3 {
                    @include ribbon();
                    top: 230px
                }

                .ribbon-4 {
                    @include ribbon();
                    top: 400px
                }

                .ribbon-5 {
                    @include ribbon();
                    top: 500px
                }
            }
        }

        &__ribbons-small {
            display: none;
        }
    }
}


// mobile
@media (max-width: 767px) {
    .about {
        height: 130vh;

        &__container {
            position: relative;

            &__ribbons {
                display: none;
            }

            &__ribbons-small {
                position: absolute;
                top: -30px;
                display: block;
            }
        }
    }
}


// about__container__ribbons-small
// about__container__ribbons-small__item
// ribbon-small