@use 'variaveis';

.concept {
    position: relative;
    display: flex;    
    justify-content: center;    
    align-items: center;    
    height: 110vh;    
    width: 100%;    
    cursor: none;
    
    .background {
        position: absolute;
        background-image: url(../../dist/img/concept/background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 110vh;
    }

    .overlay {
        background-image: url(../../dist/img/concept/overlay.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 110vh;
        z-index: 9;
        display: flex;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;

            
            &__text {
                // display: grid;
                // grid-template-columns: 1fr 1fr 1fr;
                // column-gap: 105px;
                // max-width: 900px;
                // margin-top: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                text-align: center;

                .text--small {
                    flex: 1;
                    flex-basis: 33.33%;

                    &:nth-child(1) {
                        text-align: left;
                    }
    
                    &:nth-child(2) {
                        text-align: center;
                    }
    
                    &:nth-child(3) {
                        text-align: right;
                    }
                }
                
                .text--small {
                    letter-spacing: 3px;
                    text-wrap: wrap;
                    max-width: 300px;
                }
            }
            
            .text--biggest {
                color: #fbffcd;
                letter-spacing: 10px;
                text-transform: uppercase;
            }

            .title--medium {
                font-family: 'Tiempos Semibold', serif;
                text-transform: uppercase;
                line-height: 28px;
            }
        }

    }

    #cursor {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: radial-gradient(circle, white, transparent);
        pointer-events: none;
        mix-blend-mode: screen;
        transition: transform 0.1s ease;
    }
}

//tablet 
@media only screen and (min-width:768px) and (max-width:1023px) {
    .concept {
        height: 120vh;

        .overlay {

            &__container {

                &__text {

                    .text--small {
                        flex-basis: 50%;

                        &:nth-child(1) {
                            text-align: left;
                        }
        
                        &:nth-child(2) {
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

// mobile
@media only screen and (min-width:321px) and (max-width:767px) {
    .concept {
        background-image: url(../../dist/img/concept/concept.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 1024px;
        width: 100%;
        height: 200vh;
        // padding-top: -30vh;
        // display: flex;
        // justify-content: center;
        // align-items: center;

        .overlay {
            background-image: none;
            display: flex;
            width: 100%;
            height: 200vh;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .text--biggest, .title--medium {
                text-align: center;
            }
            
            &__container {
                display: block;    
                
                #concept-text {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    text-align: center;
                }

                &__text {
                    // display: flex;
                    // justify-content: space-between;
                    // text-align: center;
                    // max-width: 700px;
                    margin-top: 30px;
                    
                    .text--small {
                        // width: 200px;
                        // letter-spacing: 2px;
                        // text-wrap: wrap;
                        // margin: 0 35px;
                        // font-size: 1.5em;

                    }
                    
                    .center {
                        text-align: center;
                    }
                }
            }
        }

        .background {
            display: none;
        }
    
        height: 200vh;

        &__container {
            padding: 170px 160px;
            text-align: center;
    
            &__text {
                display: flex;
                justify-content: space-between;
                max-width: 700px;
    
                .text--small {
                    // width: 200px;
                    // letter-spacing: 2px;
                    // text-wrap: wrap;
                    // margin: auto 35px;
                    flex-basis: 100%;
                    text-align: center;
                }
            }

            &__title {

                span:nth-child(2) {
                    font-size: 30px;
                }
    
                .title {
                    font-size: 90px;
                }
            }
        }
    }
}