@use 'variaveis';

.concept {
    position: relative;
    display: flex;    
    justify-content: center;    
    align-items: center;    
    height: 100vh;    
    width: 100%;    
    // cursor: none;

    #fundo {
        background-color: rgb(255, 255, 255);    
        color: rgb(29, 29, 29);    
        /* filter: drop-shadow(16px 16px 20px rgb(0, 0, 0)); */
    }
    
    .background {
        background-image: url(../../dist/img/concept/background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }

    #frente {
        background-color: rgb(29, 29, 29);    
        color: black; 
        position: absolute;    
        top: 0;    
        left: 0; 
    }
    
    .overlay {
        background-image: url(../../dist/img/concept/overlay.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
}

//tablet 
@media only screen and (min-width:321px) and (max-width:768px) {
    .concept {
        height: 110vh;
    }
}

// mobile
@media (max-width: 767px) {
    .concept {
        background-image: url(../img/concept/concept.png);
        min-width: 1024px;
        width: 100%;
        // padding-top: -30vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #frente {
            display: none;
        }

        #fundo {
            display: none;
        }
    
        height: 200vh;

        &__container {
            padding: 170px 160px;
            text-align: center;
    
            &__text {
                display: flex;
                justify-content: space-between;
                max-width: 700px;
    
                .text--small {
                    width: 200px;
                    letter-spacing: 2px;
                    text-wrap: wrap;
                    margin: auto 35px;
                }
            }

            &__title {

                span:nth-child(2) {
                    font-size: 30px;
                }
    
                .title {
                    font-size: 90px;
                }
            }
        }
    }
}