@use 'variaveis';

.concept {
    // background-image: url(../img/concept/concept.png);
    // background-image: url(../img/concept/overlay.png);
    // height: 120vh;
    min-width: 1024px;
    width: 100%;
    // padding-top: -30vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__container {
        position: relative;
        display: flex;    
        justify-content: center;    
        align-items: center;    
        height: 120vh;    
        width: 100vw;    
        cursor: none;  

        div > img {
            width: 100%;
            min-width: 1128px;
            height: 120vh;
        }
        

        #fundo{    
            background-color: rgb(255, 255, 255);    
            color: rgb(29, 29, 29);    
            // filter: drop-shadow(16px 16px 20px rgb(0, 0, 0));

        }   

        #frente {    
            background-color: rgb(29, 29, 29);    
            position: absolute;    
            top: 0;    
            left: 0;    
        }

        // .container-text {
        //     position: relative;
        //     display: flex;
        //     flex-direction: column;
        //     flex-wrap: wrap;
        //     justify-content: center;
        //     align-items: center;
        //     width: 50vw;
        //     text-align: center;
        // }

        // h1, span, p {
        //     color: white;
        // }


        // padding: 170px 160px;
        // text-align: center;

        // &__title {
        //     margin-bottom: 5em;

        //     span:nth-child(2) {
        //         font-family: 'Inter Bold';
        //         color: variaveis.$secondaryColor;
        //         letter-spacing: 3px;
        //     }

        //     .title {
        //         font-family: 'Tiempos', serif;
        //         font-weight: 400;
        //         font-size: 72px;
        //         line-height: 5rem;
        //     }
        // }

        // &__text {
        //     display: flex;
        //     justify-content: space-between;
        //     max-width: 700px;

        //     .text--small {
        //         width: 200px;
        //         letter-spacing: 2px;
        //         text-wrap: wrap;
        //         margin: auto 35px;
        //     }
        // }
    }
}

//tablet 
@media only screen and (min-width:321px) and (max-width:768px) {
    .concept {
        height: 110vh;
    }
}

// mobile
@media (max-width: 767px) {
    .concept {
        background-image: url(../img/concept/concept.png);
        min-width: 1024px;
        width: 100%;
        // padding-top: -30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: space;

        #frente {
            display: none;
        }

        #fundo {
            display: none;
        }
    
        height: 200vh;

        &__container {
            padding: 170px 160px;
            text-align: center;
    
            &__text {
                display: flex;
                justify-content: space-between;
                max-width: 700px;
    
                .text--small {
                    width: 200px;
                    letter-spacing: 2px;
                    text-wrap: wrap;
                    margin: auto 35px;
                }
            }

            &__title {

                span:nth-child(2) {
                    font-size: 30px;
                }
    
                .title {
                    font-size: 90px;
                }
            }
        }
    }
}