@use 'variaveis';

.concept {
    position: relative;
    display: flex;    
    justify-content: center;    
    align-items: center;    
    height: 110vh;    
    width: 100%;    
    cursor: none;
    
    .background {
        position: absolute;
        background-image: url(../../dist/img/concept/background.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 110vh;
    }

    .overlay {
        background-image: url(../../dist/img/concept/overlay.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100vw;
        height: 110vh;
        z-index: 9;
        display: flex;

        &__container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
                
            #concept-text--lg {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                text-align: center;
            }

            
            &__text--lg {

                .text--small {
                    flex: 1;
                    flex-basis: 33.33%;
                    font-family: 'Tiempos', serif;
                    letter-spacing: 2px;
                    text-wrap: wrap;
                    max-width: 300px;

                    &:nth-child(1) {
                        text-align: left;
                    }
    
                    &:nth-child(2) {
                        text-align: center;
                    }
    
                    &:nth-child(3) {
                        text-align: right;
                    }
                }
            }

            &__text--md {
                display: none;
            }

            &__text--sm {
                display: none;
            }
            
            .text--biggest {
                color: #fbffcd;
                letter-spacing: 10px;
                text-transform: uppercase;
                margin-bottom: 30px;
            }

            .title--medium {
                font-family: 'Tiempos Semibold', serif;
                text-transform: uppercase;
                line-height: 28px;
            }

            &__read-more {
                display: none;
            }
        }

    }

    #cursor {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: radial-gradient(circle, white, transparent);
        pointer-events: none;
        mix-blend-mode: screen;
        transition: transform 0.1s ease;
    }
}

//tablet 
@media only screen and (min-width: 769px) and (max-width: 1023px) {
    .concept {
        background-image: url(../../dist/img/concept/concept.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 1024px;
        width: 100%;
        height: 130vh;

        .background {
            display: none;
        }

        .overlay {
            background-image: none;

            &__container {
                
                #concept-text--lg {
                    display: none;
                }

                #concept-text--md {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;

                    .text--small {
                        font-family: 'Tiempos', serif;
                        letter-spacing: 2px;
                        flex-basis: 50%;

                        &:nth-child(1) {
                            text-align: right;
                            width: 30em;
                            padding: 1em;
                        }
        
                        &:nth-child(2) {
                            text-align: left;
                            width: 30em;
                            padding: 1em;
                        }
                    }
                }

                &__read-more {
                    display: none;
                }

                // &__text--md {
                //     display: block;
                // }
            }
        }
    }
}

// mobile
@media only screen and (max-width: 768px) {
    .concept {
        background-image: url(../../dist/img/concept/concept.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        min-width: 1024px;
        width: 100%;
        height: 200vh;

        .background {
            display: none;
        }

        .overlay {
            background-image: none;
            display: flex;
            width: 100%;
            height: 200vh;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .text--biggest {
                text-align: center;
                font-size: 45px;
            }

            .title--medium {
                text-align: center;
                font-size: 82px;
            }

            .text--small {
                font-family: 'Tiempos', serif;
                letter-spacing: 2px;
                font-size: 25px !important;
            }

            .invisible-text {
                display: none;
            }

            &__container {
                display: flex;
                justify-content: center;
                
                #concept-text--lg {
                    display: none;
                }

                #concept-text--md {
                    display: none;
                }
                
                &__text--sm {
                    display: block;
                    overflow-y: auto; // Enable vertical scrolling
                    max-height: 70vh; // Restrict the height of the scrollable container

                    .text--small {
                        margin-top: 15px;
                        flex-basis: 100%;
                        text-align: center;
                        padding: 0 4em;
                        font-size: 18px;
                    }
                }

                &__read-more {
                    margin-top: 20px;
                    display: block;
                    color: rgb(220, 220, 220);
                    font-size: 30px;
                    text-decoration: underline;
                    font-family: 'tiempos', serif;

                    &:hover {
                        color: white;
                    }
                }

                .concept-text {
                    margin-top: 30px;
                }
            }
        }
    }
}
