$imageBgColor: #D7D6D4;
$textBgColor: #F1ECE9;

.director {
    // padding-top: -30vh;

    &__container {

        &__image {
            width: 100%;
            min-width: 1024px;
            height: 80vh;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: center;
            background-color: #d7d6d4;
            
            .director-photo {
                min-width: 600px;
                width: auto;
                height: 500px;
            }
        }

        &__text {
            display: flex;
            justify-content: space-between;
            background-color: $textBgColor;
            padding: 30px;
            min-width: 1024px;

            &__left {
                text-align: left;
                border-top: 2px solid #0C0C0C;
                padding-top: 15px;
            }

            &__right {
                border-top: 2px solid #0C0C0C;
                padding-top: 15px;
                text-align: right;
                max-width: 1000px;
                width: 100%;
            }

            .title-small {
                font-family: 'Tiempos Semibold', serif;
                font-size: 24px;
            }

            .text-small {
                font-family: 'Inter', sans-serif;
            }

            .text--small {
                font-family: 'Inter', sans-serif;
                letter-spacing: 2px;
            }

            h3, p, span {
                color: #0C0C0C;
            }
        }
    }
}

//tablet
@media only screen and (min-width:321px) and (max-width:768px) {
    .director {

        &__container {
            &__image {
                height: 55vh;
            }
        }
    }
}

// mobile
@media (max-width: 767px) {
    .director {

        &__container {

            &__image {
                height: 120vh;
            }

            &__text {
                height: 100vh;
                justify-content: space-around;
                flex-direction: column;
                align-items: center;

                &__left {
                    text-align: center;
                    padding-top: 20px;

                    .title-small {
                        font-size: 40px;
                    }

                    .text-small {
                        font-size: 18px;
                    }
                }

                &__right {
                    border: none;
                    text-align: center;
                    max-width: 600px;
                    width: 100%;

                    .text--small {
                        font-size: 24px !important;
                    }
                }
            }

        }

    }
}