.footer {
    height: 80vh;
    background-color: #000;
    width: 100%;
    min-width: 1024px;
    font-family: 'tiempos', serif;
    color: rgb(212, 212, 212);
    padding: 100px;

    &__container {

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-bottom: 5em;
            
            &__left {
                display: flex;
                flex-direction: column;
                position: relative;
                // overflow: hidden;

                .slideup {
                    position: absolute;
                    bottom: -50px; /* Should be equal to container height */
                    height: 50px;
                    animation: slideUp 1s forwards;
                }

                @keyframes slideUp {
                    from {
                        bottom: -50px;
                    }
                    to {
                        bottom: 10px;
                    }
                }
                
                .socials {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    margin-bottom: 15px;
    
                    &-item {
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        width: 15px;
                        height: 15px;
                        margin-right: 15px;
                        opacity: .8;

                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
    
                    &-mubi {
                        background-image: url(../../dist/img/footer/mubi.png);
                    }
    
                    &-instagram {
                    background-image: url(../../dist/img/footer/instagram.png);
                    }
    
                    &-youtube {
                    background-image: url(../../dist/img/footer/youtube.png);
                    }
                }

                .slogan {
                    font-size: 15px;
                    margin-bottom: 5px;
                    color: white;
                }

                .dev {
                    font-size: .8rem;

                    a {
                        text-decoration: none;
                        color: #D1CDC7;
                    }
                }
            }

            &__right {
                .footer-links {
                    display: flex;

                    .lista-links {
                        list-style: none;

                        .link {
                            margin-bottom: 20px;
                            font-size: 14px;
                            font-weight: 400;

                            a {
                                color: #d4d4d4;
                                text-decoration: none;

                                &:hover {
                                    color: white;
                                }
                            }

                            .hover {
                                display: inline-block;
                                position: relative;
                            }
                            
                            .hover::after {
                                content: '';
                                position: absolute;
                                width: 100%;
                                transform: scaleX(0);
                                height: 2px;
                                bottom: 0;
                                left: 0;
                                background-color: #fff;
                                transform-origin: bottom right;
                                transition: transform 0.5s ease-out;
                            }
                            
                            .hover:hover::after {
                                transform: scaleX(1);
                                transform-origin: bottom left;
                            }
                        }
                    }
                }
            }
        }

        .award-container {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 5em;

            .award {
                background-image: url(../../dist/img/footer/palm-dor.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100px;
                // max-width: 1em;
                height: 30px;
                opacity: .8;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &__bottom {
            display: flex;
            justify-content: space-between;
            // margin-bottom: 4em;

            &__left {

                h4 {
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: -.02em;
                    margin-bottom: 2px;

                    &:hover {
                        color: #fbffcd;
                        cursor: pointer;
                    }
                }

                .city {
                    font-size: 14px;
                    display: flex;
                }
            }

            &__right {

                .details {
                    font-size: 14px;

                    .email {
                        padding-right: 40px;

                        &:hover {
                            color: white;
                        }

                        a {
                            color: inherit;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

//tablet 
@media only screen and (min-width:321px) and (max-width:768px) {
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 70vh;
        width: 100%;
        min-width: 1024px;

        &__text {
            .title {
                font-size: 60px;

                .fade-in {
                    opacity: 0;
                    animation: fadeIn 4.5s forwards;
                }
            }

            :nth-child(1n), :nth-child(2n) {
                margin-bottom: 5vh;
            }
            
            @keyframes fadeIn {
                to {
                opacity: 1;
                }
            }
        }
    }
}


// mobile
@media only screen and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 130vh;
        width: 100%;
        min-width: 1024px;
        font-size: 2em;

        &__container {

            &__top {

                &__left {

                    .socials {
                        &-item {
                            width: 32px;
                            height: 32px;
                        }
                    }

                    .slogan {
                        font-size: 35px !important;
                    }

                    .dev {
                        font-size: 30px;
                    }
                }
            }
        }

        &__text {
            .title {
                font-size: 60px;

                .fade-in {
                    opacity: 0;
                    animation: fadeIn 4.5s forwards;
                }
            }

            :nth-child(1n), :nth-child(2n) {
                margin-bottom: 5vh;
            }
            
            @keyframes fadeIn {
                to {
                opacity: 1;
                }
            }
        }
    }
}
