.footer {
    height: 40vh;
    padding: 44px 380px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__text {
        display: block;
        text-align: center;

        :nth-child(1) {
            margin-bottom: 10px;
            font-family: 'Tiempos Bold';
            letter-spacing: -1px;

            .fade-in {
                opacity: 0;
                animation: fadeIn 4.5s forwards;
            }
        }
            
        @keyframes fadeIn {
            to {
            opacity: 1;
            }
        }

        :nth-child(2) {
            margin-bottom: 0.5rem;
        }

        .text--small {
            color: #bdbdbd;
        }
    }

    &__socials {

        &__list {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;

            &__item {
                margin-right: 15px;
            }
        }
    }
}

.social {
    height: 18px;
    width: 18px;
}


// mobile
@media only screen and (max-width: 767px) {
    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        height: 70vh;
        width: 100%;
        min-width: 1024px;

        &__text {
            .title {
                font-size: 60px;

                .fade-in {
                    opacity: 0;
                    animation: fadeIn 4.5s forwards;
                }
            }

            :nth-child(1n), :nth-child(2n) {
                margin-bottom: 5vh;
            }
            
            @keyframes fadeIn {
                to {
                opacity: 1;
                }
            }
        }
    }
}
