@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    background-color:variaveis.$transparent;
    transition: background-color 0.3s ease;
    z-index: 999 !important;

    &__nav {
        padding: 25px 70px 0;
        // background: rgba(12, 12, 12, 0);
        background-color: #121212;
        
        .menu {
            display: flex;
            justify-content: space-between;

            &__list {
                display: flex;
                align-items: baseline;
                font-family: 'Tiempos';

                .navbar-toggler{
                    border-color: none;
                    width: 100%;
                    height: 100%;
                }

                &__item {
                    margin: 8px;
                    list-style: none;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.social {
    height: 20px;
    width: 20px;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .header {

        .menu-sm {
            button {
                display: none !important;
            }
        }

        &__nav {
            .navbar-toggler {
                display: none !important;
            }
        }
    }
}

// mobile
@media (max-width: 767px) {

    .header {

        .menu-sm {
            position: relative;
            button {
                margin: 15vh 15vh 0;
            }

            .nav {
                .nav-link {
                    font-size: 40px;
                    background-color: white;
                    text-align: center;
                    color: #1f1f1f;
                    font-weight: 700;
                    letter-spacing: 0.2rem;
                    font-family: 'Tiempos Semibold';
                    line-height: 2em;
                    margin: 15px 0;
                    width: 72%;
                    margin-left: 15vh;
                }
            }
        }

        &__nav {
            .navbar-toggler {
                color: white !important;
            }

            .menu {
    
                &__list {

                    nav {
                        .nav {
                            .nav-item {
                                text-align: center;
                                a {
                                    // background-color: rgba(0,0,0,.7);
                                    color: white !important;
                                    list-style: none;
                                    text-decoration: none;
                                    font-size: 30px;
                                }
                            }
                        }
                    }
    
                    &__item {
                        display: none;
                    }
                }
            }
        }
    }
}