@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color:variaveis.$transparent;
    z-index: 999 !important;

    &__nav {
        padding: 25px 70px;
        background: rgba(12, 12, 12, 0);
        
        .menu {
            display: flex;
            justify-content: space-between;

            &__list {
                display: flex;
                align-items: baseline;

                &__item {
                    margin: 8px;
                    list-style: none;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.social {
    height: 20px;
    width: 20px;

    img {

    }
}