@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color:variaveis.$transparent;
    z-index: 999 !important;

    &__nav {
        padding: 25px 70px;
        background: rgba(12, 12, 12, 0);
        
        .menu {
            display: flex;
            justify-content: space-between;

            &__list {
                display: flex;
                align-items: baseline;
                font-family: 'Tiempos';

                .navbar-toggler{
                    border-color: none;
                    width: 100%;
                    height: 100%;
                }

                &__item {
                    margin: 8px;
                    list-style: none;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: #fff;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

.social {
    height: 20px;
    width: 20px;
}
@media (max-width: 1024px) {

    .header {
        &__nav {
            .navbar-toggler {
                display: none !important;
            }
        }
    }
}

// mobile
@media (max-width: 767px) {

    .header {
        &__nav {
            .navbar-toggler {
                color: white !important;
            }

            .menu {
    
                &__list {
    
                    &__item {
                        display: none;
                    }
                }
            }
        }
    }

}