@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    background-color:variaveis.$transparent;
    transition: background-color 0.3s ease;
    z-index: 999 !important;

    &__nav {
        padding: 5px 70px 5px;
        // background: rgba(12, 12, 12, 0);
        background-color: #0b0b0b;
        // background-color: transparent;
        
        .menu {
            display: flex;
            justify-content: space-between;
            margin-bottom: 0;

            &__list {
                display: flex;
                align-items: center;
                font-family: 'Tiempos';

                .navbar-toggler{
                    border-color: none;
                    width: 100%;
                    height: 100%;
                }

                &__item {
                    margin: 8px;
                    list-style: none;
                    cursor: pointer;

                    a {
                        text-decoration: none;
                        color: #d6d5d1;

                        &:hover {
                            color: #fff;
                        }
                    }

                    .hover {
                        display: inline-block;
                        position: relative;
                    }
                    
                    .hover::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: #fff;
                        transform-origin: bottom right;
                        transition: transform 0.35s ease-out;
                    }
                    
                    .hover:hover::after {
                        transform: scaleX(1);
                        transform-origin: bottom left;
                    }
                }
            }
        }
    }
}

.social {
    height: 20px;
    width: 20px;
}

@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .header {

        .menu-sm {
            button {
                display: none !important;
            }
        }

        &__nav {
            .navbar-toggler {
                display: none !important;
            }
        }
    }
}

// mobile
@media (max-width: 767px) {

    .header {

        &__nav {
            display: none;
        }

        &__nav {
            .navbar-toggler {
                color: white !important;
            }

            .menu {
    
                &__list {

                    nav {
                        .nav {
                            .nav-item {
                                text-align: center;
                                a {
                                    // background-color: rgba(0,0,0,.7);
                                    color: white !important;
                                    list-style: none;
                                    text-decoration: none;
                                    font-size: 30px;
                                }
                            }
                        }
                    }
    
                    &__item {
                        display: none;
                    }
                }
            }
        }
    }
}