@use 'variaveis';

@mixin little-text($fontsize: 12px) {
    font-size: $fontsize;
    max-width: 250px;
}

@mixin panel (){
    display: flex;
    flex-wrap: wrap;
}

.hero {
    background-image: url(../../dist/img/home/home.png);
    height: 200vh;
    min-width: 1024px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &__container {
        margin-top: 50px;

        &__top {
            @include panel;
            flex-direction: row;
            justify-content: center;
            text-align: left;
            align-items: center;

            .title--big {
                font-family: 'Tiempos Bold', serif;
                line-height: 115px;
            }

            .text {
                margin-left: 15px;
                font-family: 'Inter', serif;
            }
        }

        &__mid {
            @include panel;
            text-align: right;
            justify-content: center;
            align-items: center;

            .title--big {
                color: variaveis.$secondaryColor;
                font-family: 'Tiempos Bold', serif;
                line-height: 115px;
            }

            .text {
                margin-right: 15px;
                font-family: 'Inter', serif;
            }
        }

        &__bottom {
            @include panel;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            align-content: center;

            .title--big {
                font-family: 'Tiempos Bold', serif;
                font-size: 170px;
                line-height: 115px;
            }

            span:nth-child(2) {
                margin-top: 15px
            }

            .text {
                margin-bottom: 5px;
                font-family: 'Inter', serif;
            }

            
        }

        .title--big {
        }

        .text {
            @include little-text;
        }
    }
}