@use 'variaveis';

@mixin little-text($fontsize: 10px) {
    font-size: $fontsize;
    max-width: 250px;
}

@mixin panel (){
    display: flex;
    flex-wrap: wrap;
}

.hero {
    position: relative;
    z-index: 1;
    background-image: url('../../dist/img/hero/hero.png');
    height: 120vh;
    min-width: 1024px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;

    &__container {
        position: relative;

        &__side {
            position: absolute;
            top: 25%;
            left: 10vh;
            z-index: 5;

            .separator {    
                width: 5px;
                height:75px;
                border-left: 5px solid #fff;
                margin: 20px 10px;
                border-radius: 100px;
            }

            .socials {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 24px;
                width: 24px;
                margin-bottom: 15px;
                cursor: pointer;
    
                .score {
                    position: sticky;
                    left: 10vh;
                    cursor: pointer;
                }

            }
        }

        &__title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 5% 60px 0;

            &__top {
                @include panel;
                flex-direction: row;
                justify-content: center;
                text-align: left;
                align-items: center;
    
                .title--big {
                    font-family: 'Tiempos Bold', serif;
                    line-height: 115px;
                }
    
                .text {
                    margin-left: 10px;
                    font-family: 'Inter', serif;
                    letter-spacing: 2px;
                }
            }
    
            &__mid {
                @include panel;
                text-align: right;
                justify-content: center;
                align-items: center;
    
                .title--big {
                    color: variaveis.$secondaryColor;
                    font-family: 'Tiempos Bold', serif;
                    line-height: 115px;
                }
    
                .text {
                    font-family: 'Inter', serif;
                    letter-spacing: 2px;
                    padding-right: 10px;
                }
            }
    
            &__bottom {
                @include panel;
                flex-direction: column;
                align-items: flex-end;
                text-align: right;
                align-content: center;
    
                .title--big {
                    font-family: 'Tiempos Bold', serif;
                    font-size: 155px;
                    line-height: 115px;
                }
    
                span:nth-child(2) {
                    margin-top: 20px;
                }
    
                .text {
                    margin-bottom: 5px;
                    font-family: 'Inter', serif;
                    letter-spacing: 2px;
                }
    
            }
        }
        
        .text {
            @include little-text;
        }
    }

    .roll-down {
        display: none;
    }
}

// mobile
@media (max-width: 767px) {
    .hero {
        background-image: url(../../dist/img/hero/hero-small.png);
        height: 200vh;
        min-width: 1024px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: contain;

        &__container {
            
            &__side {
                display: none;
            }

            &__title {
                display: flex;
                align-content: center;
                align-items: flex-start;
                flex-wrap: wrap;
                padding: 70vh 0 10vh;

                &__top {
                    
                    .title--big {
                        font-size: 150px !important;
                        line-height: 9rem;
                    }
                }
                &__mid {
                    
                    .title--big {
                        font-size: 150px !important;
                        line-height: 9rem;
                    }
                }
                &__bottom {
                    
                    .title--big {
                        font-size: 150px !important;
                        line-height: 9rem;
                    }
                }

                .tiny {
                    display: none;
                }
            }
        }

        &__container-small {
            width: 100%;
            height: 50vh;

            &__logo {
                padding: 60vh 0 10vh;
                margin: 0 auto;
                display: flex;
                justify-content: center;

                // .logo-small {
                //     background-image: url(../../dist/img/hero/logo-small.png);
                //     max-width: 900px;
                //     width: 100%;
                //     height: 800px;
                //     background-position: center;
                //     background-repeat: no-repeat;
                //     background-size: cover;
                //     object-fit: contain;
                // }
            }
        }

        .roll-down {
            img {
                display: block;
                position: absolute;
                opacity: .5;
                top: 170vh;
                left: 100%;
            }
        }
    }
}
