.scenes {  
    background-image: url('../../dist/img/scenes/bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    height: 100%;
    width: 100%;
    min-width: 1024px;

    &__container {
        padding: 100px 62px;
        display: flex;
        align-items: center;

        &__title {
            display: none;
            // display: flex;
            // justify-content: flex-start;
            // align-items: center;
            // margin-right: 30px;
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 15px;
            column-gap: 15px;

            &__item {
                position: relative;

                .title {
                    display: flex;
                    justify-content: center;
                    padding: 10px 0;
                    font-weight: 700; 
                    font-size: 30px; 
                    line-height: 2rem;
                    letter-spacing: 18px;
                    text-transform: uppercase;
                    font-family: 'Tiempos', serif; 

                    &:hover {
                        background-color: none;
                    }

                    .rotten {
                        color: #fbffcd;
                    }
                }

                .scene-item {
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                }

                .scene-description {
                    opacity: 0;
                    position: absolute;
                    left: 1rem;
                    bottom: .5rem;
                    color: #fff;
                    font-weight: 600;
                    font-size: 15px;
                    font-family: 'Tiempos', serif;
                }

                .play {
                    opacity: 0;
                    width: 3rem;
                    height: 3rem;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:not(.item_1):not(.item_2):not(.item_4):hover {
                    background-color: rgba(0, 0, 0, .7);
                    z-index: 1;
                    cursor: pointer;
        
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .4);
                        z-index: 1;
                        transition: opacity 0.3s ease;
                    }

                    .play {
                        opacity: 1;
                        z-index: 2;
                    }

                    .scene-description {
                        opacity: 1;
                        z-index: 2;
                    }
                }

                &:nth-child(2), &:nth-child(4) {
                    img {
                        display: none;
                    }
                }

                &:nth-child(2) > &:hover {
                    background-color: rgba(0, 0, 0, 1);
                }
            }

            .item_2:hover {
                background-color: none;
            }
        }
    }
}

//tablet 
@media only screen and (min-width:768px) and (max-width:1023px) {
    
    .scenes {

        &__container {
            display: flex;
            flex-direction: column;

            &__title {
                display: block;
                font-family: 'tiempos';
                text-align: center;
                margin-bottom: 4rem;
                letter-spacing: 4px;
            }

            &__list {    
                display: grid;
                grid-template-columns: 1fr 1fr;
                row-gap: 30px;
                column-gap: 30px;
                    
                    &__item {
                            
                        .title {
                            // display: none;
                            color: red;
                            font-size: 2em;
                        }

                        .scene-description {
                            font-size: 18px;
                        }

                        // &:nth-child(3) {
                        //     display: block;
                        // }

                        // &:nth-child(4) {
                        //     display: block !important;
                        // }
                    }

                    .item_1 {
                        display: none;
                    }

                    .item_4 {
                        display: none;
                    }
                }
            }
        }
    }

// mobile
@media (max-width: 767px) {
    .scenes {
        height: 100%;
        width: 100%;

        &__container {
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;

            &__title {
                display: block;

                .title {
                    font-size: 3em;
                    color: #fff;
                    text-align: center;
                    line-height: 2em;
                    width: 8em;
                }
            }

            &__list {    

                .title {
                    // font-size: 65px;
                    // line-height: 7rem;
                    // text-align: center;
                    // display: block;
                    display: none;
                }

                display: grid;
                grid-template-columns: 1fr;
                row-gap: 30px;
                column-gap: 0;

                &__item {

                    .thumbnail {
                        .scene-description {
                            font-size: 2em;
                        }
                    }
                    .scene-item {
                        height: 20em;
                        width: 100%;
                    }
                }
            }
        }
    }
}


.modal.fade .modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.fade .modal-dialog {
    width: 90%; /* Adjust the width as needed */
    max-width: 900px; /* Set a maximum width if desired */
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.modal.fade .modal-content {
    width: 100%; /* Ensure the content takes the full width */
}

.modal-header {
    padding: 0;
    border: none;
}

.modal.fade .modal-body {
    width: 100%; /* Ensure the body takes the full width */
    padding: 0;
}

.modal.fade .modal-video {
    width: 100%; /* Make the video fill the modal width */
}

.close {
    color: #ddd;
    font-weight: 300;
    font-size: 32px;
}

.close:hover {
    color: #fff;
}

.modal-content {
    width: 700px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.modal-video {
    width: 100%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 1); /* Adjust the alpha (opacity) value */
}
