.scenes {  
    height: 110vh;
    width: 100%;
    min-width: 1024px;

    &__container {
        padding: 100px 62px;

        &__title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 35px;

            .title {
                margin-right: 10px;
                font-size: 35px;
            }
        }

        &__list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            row-gap: 24px;
            column-gap: 24px;

            &__item {
                position: relative;

                &:hover {
                    background-color: rgba(0, 0, 0, .7);
                    z-index: 1;
                    cursor: pointer;
                }

                .scene-item {
                    height: 100%;
                    width: 100%;
                    background-size: cover;
                }

                .scene-description {
                    opacity: 0;
                    position: absolute;
                    left: 15px;
                    bottom: 15px;
                    color: #fff;
                    font-weight: 700;
                    font-size: 18px;
                }

                .play {
                    opacity: 0;
                    width: 58px;
                    height: 58px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                &:hover {
        
                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba(0, 0, 0, .4);
                        z-index: 1;
                        transition: opacity 0.3s ease; /* Adicionando transição para suavizar a mudança de opacidade */
                    }

                    .play {
                        opacity: 1;
                        z-index: 2;
                    }

                    .scene-description {
                        opacity: 1; /* Show text on hover */
                        z-index: 2;
                    }
                }
            }
        }
    }
}


// mobile
@media (max-width: 767px) {
    .scenes {
        height: 300vh;

        &__container {

            &__title {
                font-size: 45px;
                text-align: center;
            }

            &__list {    
                display: grid;
                grid-template-columns: 1fr;
                row-gap: 30px;
                column-gap: 0;

                &__item {
                    // code 
                }
            }
        }

    }
}


.modal.fade .modal-dialog.modal-dialog-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal.fade .modal-dialog {
    width: 90%; /* Adjust the width as needed */
    max-width: 900px; /* Set a maximum width if desired */
    margin: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.modal.fade .modal-content {
    width: 100%; /* Ensure the content takes the full width */
}

.modal-header {
    padding: 0;
    border: none;
}

.modal.fade .modal-body {
    width: 100%; /* Ensure the body takes the full width */
    padding: 0;
}

.modal.fade .modal-video {
    width: 100%; /* Make the video fill the modal width */
}

.close {
    color: #ddd;
    font-weight: 300;
    font-size: 32px;
}

.close:hover {
    color: #fff;
}

.modal-content {
    width: 700px;
    background-color: rgba(0, 0, 0, 0);
    color: white;
}

.modal-video {
    width: 100%;
}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 1); /* Adjust the alpha (opacity) value */
}
