@use 'variaveis';
@use 'hero';
@use 'header';
@use 'director';
@use 'concept';
@use 'scenes';
@use 'footer';
@use 'about';
@use 'bg';

@mixin text($fontsize: 18px) {
    font-size: $fontsize;
    color: variaveis.$primaryColor;
}

@mixin title($fontsize: 42px) {
    @include text($fontsize);
    font-family: 'Tiempos Semibold', serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$bgcolor;
    position: relative;
}

.text--big {
    @include text(24px);
}

.text--biggest {
    @include text(36px);
    font-family: 'Inter Bold', sans-serif;
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(100px);
}

.title--medium {
    @include title(72px);
}

.title {
    @include title;
}

.title--small {
    @include title(18px);
}

.bold {
    font-weight: 700px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.invisible {
    display: none;
}


.roll {
    display: none;
}


// mobile
@media (max-width: 767px) {

    .roll {
        width: 140px;
        height: 140px;
        // background-color: red;
        position: fixed;
        margin: 100px;
        bottom: 0;
        right: 0;
        z-index: 999;
        display: none;
    
        &__icon {
            background-image: url(../../dist/img/main/roll-up.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 140px;
            height: 140px;
        }
    }
}