@use 'variaveis';
@use 'hero';
@use 'header';
@use 'director';
@use 'concept';
@use 'scenes';
@use 'footer';
@use 'about';

$vh: 5;
@mixin text($fontsize: 18px) {
    font-size: $fontsize;
    color: variaveis.$primaryColor;
}

@mixin title($fontsize: 42px) {
    @include text($fontsize * $vh / 100vh);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$bgcolor;
}

.text--big {
    @include text(24px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(100px);
}

.title {
    @include title;
}

.title--small {
    @include title(18px);
}

.bold {
    font-weight: 700px;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}